<!-- Footer -->
<footer>
  <section class="topFooter row">
    <section id="aboutUs" class="topFooterContainer col-lg-2 col-md-6 col-12">
      <div class="container-fluid">
        <h3>ABOUT US</h3>
        <p>
          ​Talisay City College (TCC) was established in 2004 by the local
          government of Talisay City, Cebu, to provide quality and affordable
          tertiary education to its residents.
        </p>
      </div>
    </section>
    <section
      id="openingHours"
      class="topFooterContainer col-lg-2 col-md-6 col-12"
    >
      <h3>OFFICE HOURS</h3>
      <ul>
        <li>Sunday : Closed</li>
        <li>Mon-Wed : 8AM - 5PM</li>
        <li>Thu-Fri : 9AM - 10PM</li>
        <li>Sat : 8AM - 5PM</li>
      </ul>
    </section>
    <section
      id="openingHours"
      class="topFooterContainer footer-logo col-lg-2 col-md-6 col-12"
    >
      <a class="text-center" href="index.html">
        <img src="/public/images/tcc-logo.png" alt=""
      /></a>
      <p>Year founded 2004</p>
    </section>
    <section
      id="contactInfo"
      class="topFooterContainer col-lg-2 col-md-6 col-12"
    >
      <h3>CONTACT</h3>
      <p class="">V.H. Garces Street in Poblacion, Talisay City, Cebu, 6045</p>
      <p class=""><a href="#">(032) 273 8170 or (032) 272-1454</a></p>
      <p><a href="#"> tcc.edu.ph@gmail.com</a></p>
    </section>
    <section id="subscribe" class="topFooterContainer col-lg-2 col-md-6 col-12">
      <h3>VISIT OUR PAGE</h3>
      <a
        class="fb-hover"
        href="https://web.facebook.com/TCCofficialfbpage"
        target="_blank"
        class="text-white text-decoration-none d-flex align-items-center justify-content-center"
      >
        <img
          src="/public/images/icons/facebook.png"
          style="height: 20px"
          alt=""
        />
        <i class="ms-2">Talisay City College</i>
      </a>
    </section>
  </section>
  <section class="bottomFooter">
    <p class="ms-3 text-light">
      &copy; 2025 &middot; Talisay City College &middot; All rights reserved.
      <!-- <a href="#">Privacy</a> &middot; <a href="#">Terms</a> -->
    </p>
  </section>
</footer>
<!-- end of footer -->
